{% extends 'base/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 item-center">
            <h2>Répondre a un ticket</h2>
            <p class="mt-4">Vous etes en train de répondre à</p>
            <div class="border mt-2 py-2 px-2">
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                {% if image or ticket.image %}
                    <img src="{% firstof  ticket.image.url ticket.image %}" class="img-fluid" alt="image">
                {% else %}
                    <img src="{{ static }}/media/empty_image.png " class="img-fluid" alt="image vide">
                {% endif %}
            </div>
            <form class="border py-2 px-2" method="post" enctype="multipart/form-data">
                <p>Critique</p>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="submit" class="btn btn-primary mx-auto">Envoyer</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock content %}