{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Créer un ticket</h2>
                <form method="post" enctype="multipart/form-data" class="mt-4">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary mt-3 mx-auto">Envoyer</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock content %}