{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-3">
                <form>
                    <a href="{% url 'create_ticket' %}">
                    <input type="button" class="btn btn-primary" value="Demander une critique">
                    </a>
                </form>
            </div>
            <div class="col-3 mx-5 px-5">
                <form>
                    <a href="{% url 'create_ticket_and_review' %}">
                    <input type="button" class="btn btn-primary" value="Créer une critique">
                    </a>
                </form>
            </div>
        </div>
        <h3 class="text-center my-4">Flux</h3>
    </div>

        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'webapp/ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'webapp/review_snippet.html' %}
            {% endif %}
        {% endfor %}

{% endblock content %}
