{% extends 'base/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Suivre d'autres utilisateurs</h2>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Envoyer</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Abonnements</h2>
            {% for user in following_user %}
                <p>{{ user.user }}</p>
                <form action="/follow-users/unfollow/{{ user.id }}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Supprimer">
                </form>
            {% endfor %}
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Abonnés</h2>
            {% for user in followed_user %}
                <p>{{ user.followed_user }}</p>
            {% endfor %}
        </div>
        <div class="col-4"></div>
    </div>

{% endblock content %}