{% extends 'base/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Suivre d'autres utilisateurs</h2>
            <div class="row mt-4 mb-1">
                <form method="post">
                    <div class="col-6">
                        {{ form.as_p }}
                        {% csrf_token %}
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row mt-4 mb-1">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Abonnements</h2>
            {% for user in following_user %}
            <div class="row">
                <div class="col-6">
                    <p>{{ user.user }}</p>
                </div>
                <div class="col-6">
                <form action="/follow-users/unfollow/{{ user.id }}" method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" class="btn btn-outline-danger justify-content-md-end" value="Désabonner">
                    </div>
                </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row mt-4 mb-1">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Abonnés</h2>
            {% for user in followed_user %}
                <p>{{ user.followed_user }}</p>
            {% endfor %}
        </div>
        <div class="col-4"></div>
    </div>

{% endblock content %}