{% extends 'base/base.html' %}
{% block content %}

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h2 class="my-4">Mes posts</h2>
            {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
            <div class="border my-2 py-2">
                {% if post.user == user %}
                    <p>Vous avez demandé une critique</p>
                {% else %}
                    <p>{{ post.user }} a demandé une critique</p>
                {% endif %}
                <p>{{ post.title }}</p>
                <img src="{{ post.image.url }}" class="img-fluid">
                <a href="/ticket/update/{{ post.id }}" class="btn btn-primary mt-2">Modifier mon ticket</a>
                <form method="post" action="/ticket/delete/{{ post.id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-2">Supprimer mon ticket</button>
                </form>
            </div>
            {% elif post.content_type == 'REVIEW' %}
            {% if post.user == user %}
            <p>Vous avez fait une critique</p>
            {% else %}
                <p>{{ post.user }} a fait une critique</p>
            {% endif %}
                <p>{{ post.headline }}</p>
                <img src="{{ post.image.url }}" class="img-fluid">
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-4"></div>
    </div>

{% endblock content %}